In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('mlp_daily_optuna.csv')
df1.sort_values('value').head(10)

,number,value,datetime_start,datetime_complete,duration,params_activation,params_batch_size,params_lr,params_num_layers,params_size_layers,state
315,315,0.000357,2025-07-12 17:46:50.653800,2025-07-12 17:47:05.387276,0 days 00:00:14.733476,identity,16,0.000597,1,121,COMPLETE
84,84,0.000357,2025-07-12 16:52:24.674369,2025-07-12 16:52:39.324504,0 days 00:00:14.650135,identity,16,0.000750,1,101,COMPLETE
303,303,0.000357,2025-07-12 17:44:05.115816,2025-07-12 17:44:19.798539,0 days 00:00:14.682723,identity,16,0.000729,1,119,COMPLETE
279,279,0.000357,2025-07-12 17:38:22.777494,2025-07-12 17:38:37.436984,0 days 00:00:14.659490,identity,16,0.000698,1,111,COMPLETE
284,284,0.000357,2025-07-12 17:39:37.006586,2025-07-12 17:39:51.625718,0 days 00:00:14.619132,identity,16,0.000664,1,112,COMPLETE
169,169,0.000357,2025-07-12 17:12:20.816124,2025-07-12 17:12:35.361852,0 days 00:00:14.545728,identity,16,0.000608,1,115,COMPLETE
53,53,0.000357,2025-07-12 16:44:55.450456,2025-07-12 16:45:10.009084,0 days 00:00:14.558628,identity,16,0.000874,1,102,COMPLETE
254,254,0.000357,2025-07-12 17:32:13.857388,2025-07-12 17:32:28.513114,0 days 00:00:14.655726,identity,16,0.000601,1,104,COMPLETE
91,91,0.000357,2025-07-12 16:53:52.369637,2025-07-12 16:54:07.099914,0 days 00:00:14.730277,identity,16,0.000574,1,108,COMPLETE
27,27,0.000357,2025-07-12 16:38:51.115771,2025-07-12 16:39:11.299373,0 days 00:00:20.183602,identity,16,0.001109,2,127,COMPLETE

In [3]:
df2 = pd.read_csv('anfis_daily_optuna.csv')
df2.sort_values('value').head(10)

,number,value,datetime_start,datetime_complete,duration,params_activation,params_and_operator,params_batch_size,params_lr,params_n_sets,params_shape,state
406,406,0.000357,2025-07-12 21:21:59.867011,2025-07-12 21:22:28.935493,0 days 00:00:29.068482,identity,min,16,0.008084,2,bell,COMPLETE
164,164,0.000357,2025-07-12 19:40:25.568460,2025-07-12 19:40:55.353438,0 days 00:00:29.784978,relu,prod,16,0.008173,2,bell,COMPLETE
314,314,0.000362,2025-07-12 20:48:52.639694,2025-07-12 20:49:21.653119,0 days 00:00:29.013425,identity,min,16,0.006930,2,bell,COMPLETE
358,358,0.000363,2025-07-12 21:05:26.257759,2025-07-12 21:05:35.656678,0 days 00:00:09.398919,identity,prod,64,0.008048,2,bell,COMPLETE
449,449,0.000365,2025-07-12 21:42:36.097272,2025-07-12 21:43:01.024279,0 days 00:00:24.927007,identity,min,16,0.009014,2,sigmoid,COMPLETE
368,368,0.000368,2025-07-12 21:08:57.592764,2025-07-12 21:09:27.031058,0 days 00:00:29.438294,relu,min,16,0.009379,2,bell,COMPLETE
498,498,0.000368,2025-07-12 22:03:22.113517,2025-07-12 22:03:51.167030,0 days 00:00:29.053513,identity,min,16,0.007760,2,bell,COMPLETE
296,296,0.000372,2025-07-12 20:41:59.522758,2025-07-12 20:42:29.223624,0 days 00:00:29.700866,relu,prod,16,0.008360,2,bell,COMPLETE
30,30,0.000373,2025-07-12 19:03:12.113633,2025-07-12 19:03:21.148103,0 days 00:00:09.034470,identity,prod,64,0.004732,3,gaussian,COMPLETE
52,52,0.000374,2025-07-12 19:07:48.389290,2025-07-12 19:08:13.415556,0 days 00:00:25.026266,identity,min,16,0.003969,2,sigmoid,COMPLETE

In [4]:
df3 = pd.read_csv('rnn_daily_optuna.csv')
df3.sort_values('value').head(10)

,number,value,datetime_start,datetime_complete,duration,params_activation,params_batch_size,params_h,params_lr,params_seq_length,state
117,117,0.000307,2025-07-12 19:41:30.441059,2025-07-12 19:42:19.754341,0 days 00:00:49.313282,identity,32,103,0.001957,24,COMPLETE
286,286,0.000307,2025-07-12 22:12:36.465926,2025-07-12 22:13:21.413813,0 days 00:00:44.947887,identity,32,95,0.001648,22,COMPLETE
396,396,0.000309,2025-07-12 23:34:04.232872,2025-07-12 23:34:53.082777,0 days 00:00:48.849905,identity,32,99,0.001721,25,COMPLETE
119,119,0.000309,2025-07-12 19:43:08.326486,2025-07-12 19:43:59.117784,0 days 00:00:50.791298,identity,32,102,0.001591,25,COMPLETE
471,471,0.000310,2025-07-13 00:34:18.430407,2025-07-13 00:36:16.678192,0 days 00:01:58.247785,identity,16,103,0.001645,25,COMPLETE
388,388,0.000310,2025-07-12 23:28:18.283627,2025-07-12 23:29:10.867195,0 days 00:00:52.583568,identity,32,107,0.001499,25,COMPLETE
366,366,0.000310,2025-07-12 23:11:12.918704,2025-07-12 23:12:02.280382,0 days 00:00:49.361678,identity,32,95,0.002321,24,COMPLETE
249,249,0.000311,2025-07-12 21:40:51.709043,2025-07-12 21:41:42.456523,0 days 00:00:50.747480,identity,32,104,0.002004,25,COMPLETE
88,88,0.000312,2025-07-12 19:19:30.183544,2025-07-12 19:20:22.970422,0 days 00:00:52.786878,identity,32,53,0.001595,24,COMPLETE
142,142,0.000312,2025-07-12 20:03:39.337277,2025-07-12 20:04:27.980830,0 days 00:00:48.643553,identity,32,91,0.001192,24,COMPLETE

In [5]:
df4 = pd.read_csv('ranfis_daily_optuna.csv')
df4.sort_values('value').head(10)

,number,value,datetime_start,datetime_complete,duration,params_activation,params_and_operator,params_batch_size,params_lr,params_n_sets,params_seq_length,params_shape,state
479,479,0.000318,2025-07-13 05:18:28.134663,2025-07-13 05:19:33.198603,0 days 00:01:05.063940,identity,prod,16,0.006549,5,15,bell,COMPLETE
472,472,0.000329,2025-07-13 05:11:36.972846,2025-07-13 05:12:41.894829,0 days 00:01:04.921983,identity,prod,16,0.006798,5,15,bell,COMPLETE
477,477,0.000333,2025-07-13 05:16:18.020836,2025-07-13 05:17:23.060644,0 days 00:01:05.039808,identity,prod,16,0.007495,5,15,bell,COMPLETE
498,498,0.000334,2025-07-13 05:37:38.280531,2025-07-13 05:38:43.265130,0 days 00:01:04.984599,identity,prod,16,0.009948,5,15,bell,COMPLETE
188,188,0.000335,2025-07-13 00:44:35.580629,2025-07-13 00:45:38.948440,0 days 00:01:03.367811,identity,min,16,0.008306,6,13,bell,COMPLETE
470,470,0.000336,2025-07-13 05:09:29.868993,2025-07-13 05:10:33.441071,0 days 00:01:03.572078,identity,prod,16,0.006787,5,14,bell,COMPLETE
43,43,0.000336,2025-07-12 22:26:11.057119,2025-07-12 22:27:11.686300,0 days 00:01:00.629181,identity,min,16,0.005192,8,10,gaussian,COMPLETE
416,416,0.000336,2025-07-13 04:20:43.343688,2025-07-13 04:21:43.683083,0 days 00:01:00.339395,identity,prod,16,0.009148,5,10,bell,COMPLETE
107,107,0.000337,2025-07-12 23:24:56.584479,2025-07-12 23:25:56.258079,0 days 00:00:59.673600,identity,min,16,0.008818,6,14,sigmoid,COMPLETE
468,468,0.000337,2025-07-13 05:07:32.166106,2025-07-13 05:08:30.991503,0 days 00:00:58.825397,identity,prod,16,0.007507,5,9,bell,COMPLETE

In [8]:
df5 = pd.read_csv('gru_daily_optuna.csv')
df5.sort_values('value').head(10)

,number,value,datetime_start,datetime_complete,duration,params_activation,params_batch_size,params_h,params_lr,params_seq_length,state
180,180,0.000273,2025-07-12 23:00:27.652557,2025-07-12 23:03:03.905902,0 days 00:02:36.253345,identity,16,71,0.003081,23,COMPLETE
480,480,0.000275,2025-07-13 11:45:25.675706,2025-07-13 11:47:54.373782,0 days 00:02:28.698076,identity,16,59,0.003396,23,COMPLETE
347,347,0.000277,2025-07-13 06:18:21.248272,2025-07-13 06:20:46.256723,0 days 00:02:25.008451,identity,16,68,0.002214,23,COMPLETE
256,256,0.000278,2025-07-13 02:21:07.627010,2025-07-13 02:24:09.883733,0 days 00:03:02.256723,identity,16,80,0.002340,22,COMPLETE
132,132,0.000279,2025-07-12 21:04:56.786061,2025-07-12 21:07:32.963572,0 days 00:02:36.177511,identity,16,67,0.002800,23,COMPLETE
171,171,0.000280,2025-07-12 22:37:05.396606,2025-07-12 22:39:37.513510,0 days 00:02:32.116904,identity,16,70,0.002739,23,COMPLETE
201,201,0.000281,2025-07-12 23:58:55.953587,2025-07-13 00:01:41.458458,0 days 00:02:45.504871,identity,16,73,0.002081,24,COMPLETE
134,134,0.000284,2025-07-12 21:10:09.626761,2025-07-12 21:12:40.664887,0 days 00:02:31.038126,identity,16,63,0.003844,22,COMPLETE
411,411,0.000284,2025-07-13 08:55:12.592222,2025-07-13 08:58:33.427301,0 days 00:03:20.835079,identity,16,118,0.002448,23,COMPLETE
260,260,0.000284,2025-07-13 02:34:27.635205,2025-07-13 02:37:45.076013,0 days 00:03:17.440808,identity,16,89,0.002046,22,COMPLETE

In [9]:
df6 = pd.read_csv('gruanfis_daily_optuna.csv')
df6.sort_values('value').head(10)

,number,value,datetime_start,datetime_complete,duration,params_activation,params_and_operator,params_batch_size,params_lr,params_n_sets,params_seq_length,params_shape,state
498,498,0.000297,2025-07-13 12:19:29.662561,2025-07-13 12:21:37.865588,0 days 00:02:08.203027,identity,prod,16,0.006727,6,20,bell,COMPLETE
219,219,0.000301,2025-07-13 03:51:28.605931,2025-07-13 03:53:28.572935,0 days 00:01:59.967004,identity,prod,16,0.008262,6,18,bell,COMPLETE
203,203,0.000303,2025-07-13 03:20:58.401218,2025-07-13 03:22:53.330265,0 days 00:01:54.929047,identity,min,16,0.009236,6,17,bell,COMPLETE
190,190,0.000305,2025-07-13 02:57:50.560936,2025-07-13 02:59:49.532127,0 days 00:01:58.971191,identity,min,16,0.007208,6,18,bell,COMPLETE
206,206,0.000305,2025-07-13 03:27:16.505382,2025-07-13 03:29:11.463081,0 days 00:01:54.957699,identity,min,16,0.009205,6,17,bell,COMPLETE
263,263,0.000305,2025-07-13 05:13:59.932765,2025-07-13 05:16:04.159982,0 days 00:02:04.227217,identity,min,16,0.009900,6,19,bell,COMPLETE
427,427,0.000306,2025-07-13 10:07:13.500662,2025-07-13 10:09:14.635047,0 days 00:02:01.134385,identity,min,16,0.009273,6,18,bell,COMPLETE
465,465,0.000308,2025-07-13 11:19:53.006872,2025-07-13 11:21:49.121684,0 days 00:01:56.114812,identity,min,16,0.009090,6,17,bell,COMPLETE
390,390,0.000309,2025-07-13 09:03:24.130530,2025-07-13 09:05:13.508108,0 days 00:01:49.377578,relu,min,16,0.009926,5,17,bell,COMPLETE
284,284,0.000310,2025-07-13 05:53:47.748811,2025-07-13 05:55:44.899046,0 days 00:01:57.150235,identity,min,16,0.009901,6,17,bell,COMPLETE

In [6]:
df7 = pd.read_csv('lstm_daily_optuna.csv')
df7.sort_values('value').head(10)

,number,value,datetime_start,datetime_complete,duration,params_activation,params_batch_size,params_h,params_lr,params_seq_length,state
314,314,0.000290,2025-07-12 19:58:45.377369,2025-07-12 19:59:26.449984,0 days 00:00:41.072615,identity,16,30,0.004712,25,COMPLETE
189,189,0.000292,2025-07-12 18:31:56.556834,2025-07-12 18:32:45.019601,0 days 00:00:48.462767,identity,16,55,0.006431,25,COMPLETE
149,149,0.000292,2025-07-12 18:00:02.171065,2025-07-12 18:00:48.226094,0 days 00:00:46.055029,identity,16,57,0.004774,23,COMPLETE
151,151,0.000294,2025-07-12 18:01:35.208160,2025-07-12 18:02:23.171746,0 days 00:00:47.963586,identity,16,61,0.005944,23,COMPLETE
477,477,0.000296,2025-07-12 21:53:00.780354,2025-07-12 21:53:51.966065,0 days 00:00:51.185711,identity,16,66,0.006136,24,COMPLETE
389,389,0.000296,2025-07-12 20:50:22.406286,2025-07-12 20:51:15.373231,0 days 00:00:52.966945,identity,16,66,0.004837,25,COMPLETE
161,161,0.000296,2025-07-12 18:09:44.017459,2025-07-12 18:10:35.652868,0 days 00:00:51.635409,identity,16,67,0.004772,24,COMPLETE
186,186,0.000297,2025-07-12 18:29:25.970629,2025-07-12 18:30:17.925646,0 days 00:00:51.955017,identity,16,66,0.004847,25,COMPLETE
74,74,0.000298,2025-07-12 17:16:24.548051,2025-07-12 17:17:02.032723,0 days 00:00:37.484672,identity,16,22,0.008563,24,COMPLETE
490,490,0.000298,2025-07-12 22:03:22.811082,2025-07-12 22:04:04.211874,0 days 00:00:41.400792,identity,16,36,0.007412,24,COMPLETE

In [7]:
df8 = pd.read_csv('lstmanfis_daily_optuna.csv')
df8.sort_values('value').head(10)

,number,value,datetime_start,datetime_complete,duration,params_activation,params_and_operator,params_batch_size,params_lr,params_n_sets,params_seq_length,params_shape,state
331,331,0.000304,2025-07-13 18:49:20.173544,2025-07-13 18:50:17.432218,0 days 00:00:57.258674,identity,min,16,0.006589,5,18,bell,COMPLETE
302,302,0.000305,2025-07-13 18:23:22.066344,2025-07-13 18:24:17.923618,0 days 00:00:55.857274,identity,min,16,0.007777,5,15,bell,COMPLETE
305,305,0.000314,2025-07-13 18:26:09.684625,2025-07-13 18:27:06.029927,0 days 00:00:56.345302,identity,min,16,0.008074,5,16,bell,COMPLETE
454,454,0.000317,2025-07-13 20:37:27.211067,2025-07-13 20:38:23.404326,0 days 00:00:56.193259,identity,min,16,0.009156,5,16,bell,COMPLETE
285,285,0.000317,2025-07-13 18:08:11.388297,2025-07-13 18:09:07.125779,0 days 00:00:55.737482,identity,min,16,0.009956,5,15,bell,COMPLETE
469,469,0.000322,2025-07-13 20:50:47.198770,2025-07-13 20:51:43.344593,0 days 00:00:56.145823,identity,min,16,0.008538,5,16,bell,COMPLETE
381,381,0.000324,2025-07-13 19:33:46.084881,2025-07-13 19:34:41.492399,0 days 00:00:55.407518,identity,min,16,0.005387,5,14,bell,COMPLETE
483,483,0.000324,2025-07-13 21:03:16.135615,2025-07-13 21:04:12.304233,0 days 00:00:56.168618,identity,min,16,0.008154,5,16,bell,COMPLETE
254,254,0.000327,2025-07-13 17:39:56.665167,2025-07-13 17:40:55.302072,0 days 00:00:58.636905,identity,min,16,0.007695,8,14,bell,COMPLETE
464,464,0.000328,2025-07-13 20:46:48.396820,2025-07-13 20:47:44.670895,0 days 00:00:56.274075,identity,min,16,0.008632,5,16,bell,COMPLETE

In [11]:
df9 = pd.read_csv('birnn_daily_optuna.csv')
df9.sort_values('value').head(10)

,number,value,datetime_start,datetime_complete,duration,params_batch_size,params_h,params_lr,params_seq_length,state
157,157,0.000308,2025-07-18 00:09:24.069235,2025-07-18 00:12:19.790082,0 days 00:02:55.720847,16,120,0.000949,21,COMPLETE
222,222,0.000311,2025-07-18 03:29:47.638004,2025-07-18 03:33:11.018661,0 days 00:03:23.380657,16,123,0.000945,21,COMPLETE
183,183,0.000312,2025-07-18 01:28:58.337591,2025-07-18 01:32:04.676785,0 days 00:03:06.339194,16,126,0.001434,21,COMPLETE
188,188,0.000315,2025-07-18 01:44:26.781719,2025-07-18 01:47:54.955547,0 days 00:03:28.173828,16,121,0.001477,23,COMPLETE
428,428,0.000316,2025-07-18 13:20:35.934149,2025-07-18 13:23:27.477949,0 days 00:02:51.543800,16,123,0.000989,21,COMPLETE
354,354,0.000317,2025-07-18 09:47:17.711985,2025-07-18 09:50:49.127198,0 days 00:03:31.415213,16,121,0.001245,22,COMPLETE
430,430,0.000319,2025-07-18 13:25:20.801554,2025-07-18 13:28:12.081941,0 days 00:02:51.280387,16,123,0.000936,21,COMPLETE
461,461,0.000320,2025-07-18 14:40:30.015698,2025-07-18 14:42:57.962199,0 days 00:02:27.946501,16,120,0.001004,19,COMPLETE
131,131,0.000320,2025-07-17 23:11:04.825954,2025-07-17 23:14:02.443701,0 days 00:02:57.617747,16,126,0.000937,19,COMPLETE
93,93,0.000321,2025-07-17 21:17:15.898400,2025-07-17 21:20:19.022958,0 days 00:03:03.124558,16,125,0.000975,19,COMPLETE

In [10]:
df10 = pd.read_csv('biranfis_daily_optuna.csv')
df10.sort_values('value').head(10)

,number,value,datetime_start,datetime_complete,duration,params_and_operator,params_batch_size,params_lr,params_n_sets,params_seq_length,params_shape,state
299,299,0.000239,2025-07-17 22:56:30.443779,2025-07-17 22:58:27.536897,0 days 00:01:57.093118,min,16,0.007944,8,21,bell,COMPLETE
202,202,0.000266,2025-07-17 19:53:23.282904,2025-07-17 19:55:31.365262,0 days 00:02:08.082358,min,16,0.009901,6,25,bell,COMPLETE
437,437,0.000275,2025-07-18 03:07:33.491391,2025-07-18 03:09:30.421793,0 days 00:01:56.930402,min,16,0.008743,8,22,bell,COMPLETE
241,241,0.000285,2025-07-17 21:11:02.579823,2025-07-17 21:13:04.198852,0 days 00:02:01.619029,min,16,0.009870,6,23,bell,COMPLETE
408,408,0.000290,2025-07-18 02:12:58.355252,2025-07-18 02:14:52.448789,0 days 00:01:54.093537,min,16,0.008061,6,22,bell,COMPLETE
151,151,0.000297,2025-07-17 18:27:46.952255,2025-07-17 18:29:24.288533,0 days 00:01:37.336278,min,16,0.007649,6,15,bell,COMPLETE
153,153,0.000300,2025-07-17 18:31:01.075627,2025-07-17 18:32:40.985516,0 days 00:01:39.909889,min,16,0.006368,6,16,bell,COMPLETE
165,165,0.000300,2025-07-17 18:50:31.601981,2025-07-17 18:52:39.763916,0 days 00:02:08.161935,min,16,0.008619,6,25,bell,COMPLETE
21,21,0.000300,2025-07-17 15:14:47.477206,2025-07-17 15:16:47.516609,0 days 00:02:00.039403,min,16,0.009662,8,22,bell,COMPLETE
440,440,0.000301,2025-07-18 03:13:24.756781,2025-07-18 03:15:21.950010,0 days 00:01:57.193229,min,16,0.009939,8,22,bell,COMPLETE

In [ ]:
df11 = pd.read_csv('bigru_daily_optuna.csv')
df11.sort_values('value').head(10)

In [12]:
df12 = pd.read_csv('bigruanfis_daily_optuna.csv')
df12.sort_values('value').head(10)

,number,value,datetime_start,datetime_complete,duration,params_and_operator,params_batch_size,params_lr,params_n_sets,params_seq_length,params_shape,state
260,260,0.000195,2025-07-18 04:51:38.576216,2025-07-18 04:54:46.177363,0 days 00:03:07.601147,prod,16,0.006301,5,18,gaussian,COMPLETE
394,394,0.000213,2025-07-18 11:49:22.145366,2025-07-18 11:52:29.842308,0 days 00:03:07.696942,prod,16,0.008632,5,18,gaussian,COMPLETE
206,206,0.000221,2025-07-18 02:11:40.903574,2025-07-18 02:14:28.483891,0 days 00:02:47.580317,prod,16,0.007783,5,15,bell,COMPLETE
192,192,0.000234,2025-07-18 01:35:15.687295,2025-07-18 01:37:59.777610,0 days 00:02:44.090315,prod,16,0.006978,5,15,gaussian,COMPLETE
139,139,0.000239,2025-07-17 23:06:48.699162,2025-07-17 23:09:48.186767,0 days 00:02:59.487605,prod,16,0.007884,5,17,gaussian,COMPLETE
224,224,0.000245,2025-07-18 03:01:07.566079,2025-07-18 03:04:29.636327,0 days 00:03:22.070248,prod,16,0.006828,5,20,gaussian,COMPLETE
226,226,0.000248,2025-07-18 03:07:44.202302,2025-07-18 03:10:51.153171,0 days 00:03:06.950869,prod,16,0.008595,5,18,gaussian,COMPLETE
297,297,0.000249,2025-07-18 06:47:02.492910,2025-07-18 06:50:17.890177,0 days 00:03:15.397267,prod,16,0.007544,5,19,gaussian,COMPLETE
270,270,0.000256,2025-07-18 05:18:51.449899,2025-07-18 05:22:37.313999,0 days 00:03:45.864100,prod,16,0.005680,5,23,gaussian,COMPLETE
120,120,0.000260,2025-07-17 22:23:06.360829,2025-07-17 22:24:43.167160,0 days 00:01:36.806331,prod,32,0.007870,5,16,gaussian,COMPLETE

In [7]:
df13 = pd.read_csv('bilstm_daily_optuna.csv')
df13.sort_values('value').head(10)

,number,value,datetime_start,datetime_complete,duration,params_batch_size,params_h,params_lr,params_seq_length,state
145,145,0.000095,2025-07-17 17:24:17.617892,2025-07-17 17:25:54.495110,0 days 00:01:36.877218,32,126,0.002819,24,COMPLETE
405,405,0.000097,2025-07-17 23:42:15.380922,2025-07-17 23:43:48.179499,0 days 00:01:32.798577,32,121,0.002642,25,COMPLETE
141,141,0.000107,2025-07-17 17:17:59.361605,2025-07-17 17:19:35.788623,0 days 00:01:36.427018,32,125,0.003421,25,COMPLETE
398,398,0.000117,2025-07-17 23:32:12.647453,2025-07-17 23:33:38.243310,0 days 00:01:25.595857,32,120,0.001784,23,COMPLETE
480,480,0.000118,2025-07-18 01:28:00.538087,2025-07-18 01:29:34.344339,0 days 00:01:33.806252,32,124,0.002329,24,COMPLETE
174,174,0.000118,2025-07-17 18:08:19.591476,2025-07-17 18:09:59.578923,0 days 00:01:39.987447,32,125,0.003534,25,COMPLETE
190,190,0.000119,2025-07-17 18:33:28.401088,2025-07-17 18:35:04.276370,0 days 00:01:35.875282,32,119,0.004752,25,COMPLETE
307,307,0.000119,2025-07-17 21:25:02.495445,2025-07-17 21:26:35.804864,0 days 00:01:33.309419,32,118,0.002916,25,COMPLETE
147,147,0.000121,2025-07-17 17:27:24.556869,2025-07-17 17:28:57.737605,0 days 00:01:33.180736,32,121,0.004011,25,COMPLETE
237,237,0.000122,2025-07-17 19:44:55.971208,2025-07-17 19:46:29.288235,0 days 00:01:33.317027,32,125,0.002190,23,COMPLETE

In [9]:
df14 = pd.read_csv('bilstmanfis_daily_optuna.csv')
df14.sort_values('value').head(10)

,number,value,datetime_start,datetime_complete,duration,params_and_operator,params_batch_size,params_lr,params_n_sets,params_seq_length,params_shape,state
44,44,0.000221,2025-07-17 15:29:02.609619,2025-07-17 15:30:23.555217,0 days 00:01:20.945598,min,16,0.003379,7,25,gaussian,COMPLETE
283,283,0.000230,2025-07-17 19:57:37.826158,2025-07-17 19:58:53.183677,0 days 00:01:15.357519,prod,16,0.008175,6,22,sigmoid,COMPLETE
151,151,0.000265,2025-07-17 17:26:43.441971,2025-07-17 17:27:53.482066,0 days 00:01:10.040095,min,16,0.003991,7,12,gaussian,COMPLETE
170,170,0.000267,2025-07-17 17:48:19.005576,2025-07-17 17:49:30.732019,0 days 00:01:11.726443,min,16,0.008907,6,17,gaussian,COMPLETE
482,482,0.000277,2025-07-17 23:56:43.107842,2025-07-17 23:58:05.194025,0 days 00:01:22.086183,min,16,0.007890,6,20,bell,COMPLETE
496,496,0.000287,2025-07-18 00:13:56.014175,2025-07-18 00:15:18.494155,0 days 00:01:22.479980,min,16,0.007765,6,20,bell,COMPLETE
480,480,0.000292,2025-07-17 23:53:57.895717,2025-07-17 23:55:20.068801,0 days 00:01:22.173084,min,16,0.006302,6,20,bell,COMPLETE
23,23,0.000293,2025-07-17 15:09:43.027548,2025-07-17 15:10:51.006527,0 days 00:01:07.978979,min,16,0.004402,6,13,gaussian,COMPLETE
394,394,0.000295,2025-07-17 22:07:35.836698,2025-07-17 22:08:53.614813,0 days 00:01:17.778115,min,16,0.008476,6,21,gaussian,COMPLETE
320,320,0.000296,2025-07-17 20:40:12.623871,2025-07-17 20:41:27.747422,0 days 00:01:15.123551,min,16,0.007558,6,21,gaussian,COMPLETE