In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('mlp_optuna.csv')
df1.sort_values('value').head(10)

,number,value,datetime_start,datetime_complete,duration,params_activation,params_batch_size,params_lr,params_num_layers,params_shuffle,params_size_layers,params_weight_decay,state
268,268,0.000004,2025-07-01 21:36:21.022505,2025-07-01 21:36:24.359627,0 days 00:00:03.337122,identity,64,0.000143,2,True,44,0.000024,COMPLETE
144,144,0.000004,2025-07-01 21:24:22.414436,2025-07-01 21:24:31.967964,0 days 00:00:09.553528,identity,16,0.000144,2,True,71,0.000019,COMPLETE
194,194,0.000004,2025-07-01 21:29:12.519718,2025-07-01 21:29:15.861664,0 days 00:00:03.341946,identity,64,0.000120,2,True,52,0.000016,COMPLETE
343,343,0.000004,2025-07-01 21:41:10.190781,2025-07-01 21:41:19.593994,0 days 00:00:09.403213,identity,16,0.000126,2,True,49,0.000033,COMPLETE
122,122,0.000004,2025-07-01 21:20:51.851582,2025-07-01 21:21:01.347169,0 days 00:00:09.495587,identity,16,0.000132,2,True,57,0.000033,COMPLETE
499,499,0.000004,2025-07-01 21:57:12.420640,2025-07-01 21:57:16.215878,0 days 00:00:03.795238,identity,32,0.000192,1,True,51,0.000020,COMPLETE
332,332,0.000004,2025-07-01 21:40:19.901802,2025-07-01 21:40:23.265480,0 days 00:00:03.363678,identity,64,0.000134,2,True,53,0.000028,COMPLETE
117,117,0.000004,2025-07-01 21:20:04.534540,2025-07-01 21:20:14.012310,0 days 00:00:09.477770,identity,16,0.000100,2,True,57,0.000033,COMPLETE
314,314,0.000004,2025-07-01 21:38:57.523910,2025-07-01 21:39:02.987004,0 days 00:00:05.463094,identity,32,0.000120,2,True,43,0.000032,COMPLETE
477,477,0.000004,2025-07-01 21:55:45.207522,2025-07-01 21:55:49.040491,0 days 00:00:03.832969,identity,32,0.000267,1,True,102,0.000025,COMPLETE

In [3]:
df2 = pd.read_csv('anfis_optuna.csv')
df2.sort_values('value').head(10)

,number,value,datetime_start,datetime_complete,duration,params_activation,params_and_operator,params_batch_size,params_lr,params_n_sets,params_shape,params_shuffle,params_weight_decay,state
189,189,0.000004,2025-07-01 21:50:11.497774,2025-07-01 21:50:25.450072,0 days 00:00:13.952298,identity,prod,16,0.005723,6,sigmoid,True,0.000015,COMPLETE
419,419,0.000004,2025-07-01 22:43:06.916050,2025-07-01 22:43:20.825032,0 days 00:00:13.908982,identity,prod,16,0.008384,6,sigmoid,True,0.000013,COMPLETE
266,266,0.000004,2025-07-01 22:07:06.094901,2025-07-01 22:07:19.978172,0 days 00:00:13.883271,identity,prod,16,0.003917,6,sigmoid,True,0.000015,COMPLETE
399,399,0.000004,2025-07-01 22:38:33.608273,2025-07-01 22:38:47.492936,0 days 00:00:13.884663,identity,prod,16,0.008255,6,sigmoid,True,0.000011,COMPLETE
315,315,0.000004,2025-07-01 22:18:35.057031,2025-07-01 22:18:48.967094,0 days 00:00:13.910063,identity,prod,16,0.009432,6,sigmoid,True,0.000016,COMPLETE
400,400,0.000004,2025-07-01 22:38:47.493172,2025-07-01 22:39:03.385406,0 days 00:00:15.892234,identity,min,16,0.008290,6,sigmoid,True,0.000010,COMPLETE
13,13,0.000004,2025-07-01 21:12:43.922737,2025-07-01 21:12:58.913518,0 days 00:00:14.990781,identity,prod,16,0.000207,5,bell,True,0.000010,COMPLETE
174,174,0.000004,2025-07-01 21:46:40.368951,2025-07-01 21:46:54.860781,0 days 00:00:14.491830,identity,prod,16,0.004125,7,sigmoid,True,0.000013,COMPLETE
270,270,0.000004,2025-07-01 22:08:05.281567,2025-07-01 22:08:19.158829,0 days 00:00:13.877262,identity,prod,16,0.003813,6,sigmoid,True,0.000018,COMPLETE
204,204,0.000004,2025-07-01 21:53:29.619807,2025-07-01 21:53:43.583016,0 days 00:00:13.963209,identity,prod,16,0.007325,6,sigmoid,True,0.000010,COMPLETE

In [4]:
df3 = pd.read_csv('rnn_optuna.csv')
df3.sort_values('value').head(10)

,number,value,datetime_start,datetime_complete,duration,params_activation,params_batch_size,params_h,params_lr,params_seq_length,params_shuffle,params_weight_decay,state
293,293,0.000004,2025-07-04 14:43:43.699450,2025-07-04 14:44:09.186203,0 days 00:00:25.486753,relu,16,123,0.000390,14,True,0.000040,COMPLETE
460,460,0.000004,2025-07-04 15:54:05.664113,2025-07-04 15:54:37.354582,0 days 00:00:31.690469,relu,16,121,0.000993,20,True,0.000019,COMPLETE
278,278,0.000004,2025-07-04 14:37:33.578298,2025-07-04 14:37:58.966300,0 days 00:00:25.388002,relu,16,126,0.000446,14,True,0.000022,COMPLETE
478,478,0.000004,2025-07-04 16:02:52.470188,2025-07-04 16:03:22.503673,0 days 00:00:30.033485,relu,16,116,0.001050,19,True,0.000017,COMPLETE
318,318,0.000004,2025-07-04 14:53:48.712353,2025-07-04 14:54:16.017684,0 days 00:00:27.305331,relu,16,128,0.000473,16,True,0.000018,COMPLETE
222,222,0.000004,2025-07-04 13:53:18.913788,2025-07-04 13:53:46.901720,0 days 00:00:27.987932,relu,16,122,0.000749,17,True,0.000015,COMPLETE
92,92,0.000004,2025-07-04 12:18:37.727009,2025-07-04 12:19:06.984360,0 days 00:00:29.257351,relu,16,126,0.000733,17,True,0.000015,COMPLETE
269,269,0.000004,2025-07-04 14:33:49.191087,2025-07-04 14:34:14.582816,0 days 00:00:25.391729,relu,16,126,0.000445,14,True,0.000037,COMPLETE
476,476,0.000004,2025-07-04 16:01:51.871017,2025-07-04 16:02:22.138632,0 days 00:00:30.267615,relu,16,116,0.001032,19,True,0.000017,COMPLETE
428,428,0.000004,2025-07-04 15:40:01.819599,2025-07-04 15:40:30.909122,0 days 00:00:29.089523,relu,16,123,0.000406,17,True,0.000022,COMPLETE

In [5]:
df4 = pd.read_csv('ranfis_optuna.csv')
df4.sort_values('value').head(10)

,number,value,datetime_start,datetime_complete,duration,params_activation,params_and_operator,params_batch_size,params_lr,params_n_sets,params_seq_length,params_shape,params_shuffle,params_weight_decay,state
432,432,0.000007,2025-07-05 02:00:41.987996,2025-07-05 02:03:59.283341,0 days 00:03:17.295345,identity,min,16,0.008605,8,17,gaussian,False,0.000012,COMPLETE
125,125,0.000007,2025-07-04 16:04:56.756248,2025-07-04 16:06:51.798339,0 days 00:01:55.042091,identity,min,16,0.006765,6,11,gaussian,False,0.000011,COMPLETE
493,493,0.000008,2025-07-05 04:16:45.084401,2025-07-05 04:19:08.155631,0 days 00:02:23.071230,identity,min,16,0.005681,3,16,gaussian,False,0.000018,COMPLETE
282,282,0.000008,2025-07-04 20:49:14.880073,2025-07-04 20:51:01.695236,0 days 00:01:46.815163,identity,min,16,0.002863,3,12,gaussian,False,0.000013,COMPLETE
255,255,0.000009,2025-07-04 20:03:45.077566,2025-07-04 20:05:39.866103,0 days 00:01:54.788537,identity,min,16,0.007412,4,11,gaussian,False,0.000012,COMPLETE
460,460,0.000009,2025-07-05 03:06:51.492508,2025-07-05 03:09:09.498133,0 days 00:02:18.005625,identity,min,16,0.006619,3,15,gaussian,False,0.000015,COMPLETE
203,203,0.000010,2025-07-04 18:31:50.395699,2025-07-04 18:33:48.395809,0 days 00:01:58.000110,identity,min,16,0.008560,5,11,gaussian,False,0.000013,COMPLETE
390,390,0.000010,2025-07-05 00:31:34.336857,2025-07-05 00:33:46.879454,0 days 00:02:12.542597,identity,min,16,0.006263,3,16,gaussian,False,0.000010,COMPLETE
381,381,0.000010,2025-07-05 00:11:35.167305,2025-07-05 00:13:56.270969,0 days 00:02:21.103664,identity,min,16,0.007206,3,16,gaussian,False,0.000012,COMPLETE
345,345,0.000010,2025-07-04 22:59:06.366164,2025-07-04 23:01:53.652532,0 days 00:02:47.286368,identity,min,16,0.009027,4,16,gaussian,False,0.000013,COMPLETE

In [6]:
df5 = pd.read_csv('lstm_optuna.csv')
df5.sort_values('value').head(10)

,number,value,datetime_start,datetime_complete,duration,params_activation,params_batch_size,params_h,params_lr,params_seq_length,params_shuffle,params_weight_decay,state
227,227,0.000004,2025-07-04 12:40:18.452068,2025-07-04 12:40:31.074759,0 days 00:00:12.622691,identity,32,121,0.000307,9,False,0.000013,COMPLETE
490,490,0.000004,2025-07-04 14:48:11.171172,2025-07-04 14:48:23.600644,0 days 00:00:12.429472,identity,32,124,0.000469,8,False,0.000015,COMPLETE
361,361,0.000004,2025-07-04 14:14:42.744640,2025-07-04 14:14:55.111031,0 days 00:00:12.366391,identity,32,119,0.000337,8,False,0.000013,COMPLETE
364,364,0.000004,2025-07-04 14:15:19.851044,2025-07-04 14:15:32.277728,0 days 00:00:12.426684,identity,32,122,0.000351,8,False,0.000015,COMPLETE
413,413,0.000004,2025-07-04 14:32:35.674109,2025-07-04 14:32:47.816041,0 days 00:00:12.141932,identity,32,128,0.000527,8,False,0.000023,COMPLETE
303,303,0.000004,2025-07-04 13:36:45.045121,2025-07-04 13:36:57.714091,0 days 00:00:12.668970,identity,32,121,0.000271,9,False,0.000013,COMPLETE
410,410,0.000004,2025-07-04 14:31:58.332691,2025-07-04 14:32:10.777030,0 days 00:00:12.444339,identity,32,126,0.000524,8,False,0.000020,COMPLETE
184,184,0.000004,2025-07-04 12:31:20.340907,2025-07-04 12:31:32.832081,0 days 00:00:12.491174,identity,32,126,0.000380,8,False,0.000054,COMPLETE
416,416,0.000004,2025-07-04 14:33:12.098358,2025-07-04 14:33:24.475860,0 days 00:00:12.377502,identity,32,123,0.000521,8,False,0.000026,COMPLETE
404,404,0.000004,2025-07-04 14:30:47.444647,2025-07-04 14:30:59.860719,0 days 00:00:12.416072,identity,32,126,0.000421,8,False,0.000020,COMPLETE

In [7]:
df6 = pd.read_csv('lstmanfis_optuna.csv')
df6.sort_values('value').head(10)

,number,value,datetime_start,datetime_complete,duration,params_activation,params_and_operator,params_batch_size,params_lr,params_n_sets,params_seq_length,params_shape,params_shuffle,params_weight_decay,state
451,451,0.000008,2025-07-05 23:00:59.719553,2025-07-05 23:05:08.668147,0 days 00:04:08.948594,relu,min,16,0.009165,5,20,gaussian,False,0.000011,COMPLETE
182,182,0.000015,2025-07-05 03:56:22.445539,2025-07-05 04:00:19.592203,0 days 00:03:57.146664,relu,prod,16,0.008560,6,19,gaussian,False,0.000011,COMPLETE
112,112,0.000016,2025-07-04 22:58:19.195595,2025-07-04 23:03:42.920533,0 days 00:05:23.724938,relu,prod,16,0.008938,9,17,gaussian,False,0.000015,COMPLETE
141,141,0.000017,2025-07-05 00:46:29.632098,2025-07-05 00:50:31.978871,0 days 00:04:02.346773,relu,prod,16,0.006621,9,19,gaussian,False,0.000012,COMPLETE
119,119,0.000019,2025-07-04 23:27:13.256338,2025-07-04 23:30:18.728556,0 days 00:03:05.472218,relu,prod,16,0.006885,6,16,gaussian,False,0.000012,COMPLETE
447,447,0.000019,2025-07-05 22:41:04.403395,2025-07-05 22:46:09.813910,0 days 00:05:05.410515,relu,min,16,0.007367,9,20,gaussian,False,0.000013,COMPLETE
423,423,0.000021,2025-07-05 20:47:47.310936,2025-07-05 20:53:47.326319,0 days 00:06:00.015383,relu,prod,16,0.007419,9,20,gaussian,False,0.000012,COMPLETE
485,485,0.000022,2025-07-06 01:31:23.316247,2025-07-06 01:35:51.917471,0 days 00:04:28.601224,identity,min,16,0.007005,6,20,gaussian,False,0.000011,COMPLETE
385,385,0.000023,2025-07-05 17:53:30.119247,2025-07-05 17:57:55.162863,0 days 00:04:25.043616,relu,prod,16,0.009297,9,16,gaussian,False,0.000010,COMPLETE
314,314,0.000024,2025-07-05 12:42:27.516442,2025-07-05 12:47:45.538479,0 days 00:05:18.022037,relu,min,16,0.009200,9,17,gaussian,False,0.000016,COMPLETE

In [ ]:
df7 = pd.read_csv('gru_optuna.csv')
df7.sort_values('value').head(10)

In [ ]:
df8 = pd.read_csv('gruanfis_optuna.csv')
df8.sort_values('value').head(10)